<md-bottom-sheet class="md-list md-has-header" style="z-index: 81">
  <div style="width: 70%; min-width: 500px; margin: auto" layout="row">
    <div flex="40">
      <md-subheader md-colors="{color: 'blue'}">
        <h1>{{subheader}}</h1>
      </md-subheader>
      <div layout="column">
        <div layout="row">
          <div flex="30">{{$root.consts.lbl.FULL_NAME}}</div>
          <div flex>{{shipper.FullName}}</div>
        </div>
        <div layout="row">
          <div flex="30">{{$root.consts.lbl.GENDER}}</div>
          <div flex>{{shipper.Gender}}</div>
        </div>
        <div layout="row">
          <div flex="30">{{$root.consts.lbl.BIRTH_DAY}}</div>
          <div flex>{{shipper.BirthDay}}</div>
        </div>
      </div>
    </div>
    
    <div flex="60">
      <md-subheader md-colors="{color: 'blue'}">
        <h1>{{$root.consts.lbl.REVIEWS}}</h1>
      </md-subheader>
      <div style="padding: 20px">
        <span class="score" md-colors="{color: 'dialogTheme-blue'}">{{user.Score}}</span>
        <span class="md-title" md-colors="{color: 'grey-600'}">{{reviews}}</span>
      </div>
      <md-list>
        <md-list-item ng-repeat="review in listReviews"
                      ng-init="bgItemReview = 'grey-200-0'"
                      md-colors="{background: '{{bgItemReview}}'}"
                      ng-mouseover="bgItemReview = 'grey-200'"
                      ng-mouseleave="bgItemReview = 'grey-200-0'"
                      style="padding: 10px 16px">
          <div layout="column">
            <div>
              <strong>{{review.shopName}}</strong>
              <span class="md-caption" md-colors="{color: 'grey'}">{{review.RevTime}}</span>
            </div>
            <div layout="row" md-colors="{color: 'amber'}">
              <md-icon ng-repeat="star in review.stars track by $index">{{star.icon}}</md-icon>
              <md-tooltip md-visible="true" md-direction="right">{{review.Score}}</md-tooltip>
            </div>
            <div><i>{{review.Content}}</i></div>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </div>
</md-bottom-sheet>
