<md-card md-theme-watch md-whiteframe="5" ng-click="showDetail($event, order)" md-colors="{background: '{{o.color}}'}" style="min-width: 350px; cursor: pointer">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{order.OrderName}}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content layout="column">
    <div layout="row">
      <div flex="45">{{order.StartingPoint}}</div>
      <md-icon flex="10">arrow_forward</md-icon>
      <div flex="45">{{order.Destination}}</div>
    </div>
  </md-card-content>
  <md-card-actions layout="row" ng-if="isShopManager">
    <md-button class="md-raised" md-colors="{background: 'dialogTheme-blue'}" ng-click="showShipper($event, order)">
      <md-icon style="color: white">playlist_add_check</md-icon>
      {{o.ShipperCount}}
    </md-button>
  </md-card-actions>
</md-card>
