<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{title}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content layout-padding>
    <div ng-init="flex = '100'" layout-xs="column" layout="row">
      <div layout="column" flex-xs="100" flex="{{flex}}">
        <div class="md-body-2" layout="row">
          <div flex="10"></div>
          <div flex="40">{{$root.consts.lbl.FULL_NAME}}</div>
          <div flex>{{shipper.FullName}}</div>
        </div>
        <div class="md-body-2" layout="row">
          <div flex="10"></div>
          <div flex="40">{{$root.consts.lbl.GENDER}}</div>
          <div flex>{{gender}}</div>
        </div>
        <div class="md-body-2" layout="row">
          <div flex="10"></div>
          <div flex="40">{{$root.consts.lbl.BIRTH_DAY}}</div>
          <div flex>{{birthDay}}</div>
        </div>
        <div class="score" md-colors="{color: 'dialogTheme-blue'}">{{shipper.Score || 0}}</div>
        <div class="md-title" md-colors="{color: 'dialogTheme-grey-600'}" style="text-align: center">{{reviews}}</div>
        <md-button class="md-raised" md-colors="{background: 'dialogTheme-green'}" ng-click="showReviews()">
          {{btnShowOrHide}}
        </md-button>
      </div>
      <div flex="5" ng-if="isShowReviews"></div>
      <div id="list-reviews" layout="column" layout-align="start center" flex ng-if="isShowReviews">
        <md-progress-circular md-diameter="30" ng-if="unloadReviews"></md-progress-circular>
        <ng-include src="'/Templates/review-item.html'"></ng-include>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button class="md-raised" ng-click="closeDialog()">
      <md-icon>close</md-icon>
      {{$root.consts.btn.CLOSE}}
    </md-button>
  </md-dialog-actions>
</md-dialog>
