<!DOCTYPE html>
<html ng-app="app" ng-controller="login" ng-cloak>
<head>
  <title>{{consts.title.LOGIN}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="import" href="/Templates/include-libs.html" />
  <script src="/Scripts/controllers/login.js"></script>
</head>
<body>
  <ng-include src="'/Templates/waiting.html'"></ng-include>
  <md-content md-colors="{background: 'amber-50'}" layout="column" layout-align="center center" ng-hide="isLogin">
    <form name="form.login" layout="column" layout-padding>
      <h1 align="center">{{consts.lbl.LOGIN}}</h1>
      <!-- Username -->
      <md-input-container>
        <label>{{consts.lbl.USERNAME}}</label>
        <input id="username" type="text" name="username" ng-model="username" required autofocus
               ng-change="form.login.username.$setValidity('incorrect', true)" />
        <div ng-messages="form.login.username.$error">
          <div ng-message="required">{{consts.lbl.REQUIRED}}</div>
          <div ng-message="incorrect">{{consts.lbl.ERROR_USERNAME_NOT_EXIST}}</div>
        </div>
      </md-input-container>
      <!-- Password -->
      <md-input-container>
        <label>{{consts.lbl.PASSWORD}}</label>
        <input id="password" type="password" name="password" ng-model="password" required
               ng-change="form.login.password.$setValidity('incorrect', true)" />
        <div ng-messages="form.login.password.$error">
          <div ng-message="required">{{consts.lbl.REQUIRED}}</div>
          <div ng-message="incorrect">{{consts.lbl.ERROR_PASSWORD_INCORRECT}}</div>
        </div>
      </md-input-container>
      <md-button type="submit" class="md-primary md-raised" md-colors="{background: 'blue'}" ng-click="login()">{{consts.btn.LOGIN}}</md-button>
      <div layout="row">
        <a href="reset-password.html" flex>{{consts.lbl.FORGOT_PASSWORD}}</a>
        <div ng-bind-html="consts.lbl.DONT_HAVE_ACCOUNT"></div>
      </div>
    </form>
  </md-content>
</body>
</html>
