<!DOCTYPE html>
<html ng-app="app" ng-controller="login" ng-cloak>
<head>
  <title>{{consts.title.LOGIN}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- GoogleApis fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <!-- Angular Material style sheet -->
  <link href="/Vendors/angular-material-1.1.4/angular-material.min.css" rel="stylesheet" />
  <!-- Angular libaries -->
  <script src="/Vendors/angular-1.6.3/angular.min.js"></script>
  <script src="/Vendors/angular-1.6.3/angular-animate.min.js"></script>
  <script src="/Vendors/angular-1.6.3/angular-aria.min.js"></script>
  <script src="/Vendors/angular-1.6.3/angular-cookies.min.js"></script>
  <script src="/Vendors/angular-1.6.3/angular-messages.min.js"></script>
  <script src="/Vendors/angular-1.6.3/angular-sanitize.min.js"></script>
  <!-- Angular Material libary -->
  <script src="/Vendors/angular-material-1.1.4/angular-material.min.js"></script>
  
  <!-- Style -->
  <link href="../Styles/app.css" rel="stylesheet" />
  <!-- JavaScript app -->
  <script src="/Scripts/constants.js"></script>
  <script src="/Scripts/controllers/login.js"></script>
  <script src="/Scripts/app.js"></script>
  <script src="/Vendors/sha256.js"></script>
</head>
<body>
  <ng-include src="'/Templates/waiting.html'"></ng-include>
  <md-content md-colors="{background: 'amber-50'}" layout="column" layout-align="center center" ng-hide="isLogin">
    <div>
      <h1 align="center">{{consts.lbl.LOGIN}}</h1>
      <form name="form.login" layout="column" layout-padding>
        <!-- Username -->
        <md-input-container>
          <label>{{consts.lbl.USERNAME}}</label>
          <input type="text" name="username" ng-model="username" required />
          <div ng-messages="form.login.username.$error">
            <div ng-message="required">{{consts.lbl.REQUIRED}}</div>
          </div>
        </md-input-container>
        <!-- Password -->
        <md-input-container>
          <label>{{consts.lbl.PASSWORD}}</label>
          <input type="password" name="password" ng-model="password" required />
          <div ng-messages="form.login.password.$error">
            <div ng-message="required">{{consts.lbl.REQUIRED}}</div>
          </div>
        </md-input-container>
        <md-button type="submit" class="md-primary md-raised" md-colors="{background: 'blue'}" ng-click="login()">{{consts.btn.LOGIN}}</md-button>
      </form>
      <a href="#" style="float: left">{{consts.lbl.FORGOT_PASSWORD}}</a>
      <a href="sign-up.html" style="float: right">{{consts.lbl.SIGN_UP}}</a>
    </div>
  </md-content>
</body>
</html>
