<!DOCTYPE html>
<html ng-app="app" ng-controller="resetPassword" ng-cloak>
<head>
  <title>{{consts.title.RESET_PASSWORD}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="import" href="/Templates/include-libs.html" />
  <script src="/Scripts/controllers/resetPassword.js"></script>
</head>
<body>
  <ng-include src="'/Templates/waiting.html'"></ng-include>
  <md-content md-colors="{background: 'amber-50'}" layout="column" layout-align="center center" ng-hide="isLogin">
    <form name="form.resetPassword" layout="column" layout-padding>
      <h1 align="center">{{consts.lbl.RESET_PASSWORD}}</h1>
      <!-- Username -->
      <div>{{consts.lbl.ENTER_USERNAME}}</div>
      <md-input-container>
        <label>{{consts.lbl.USERNAME}}</label>
        <input id="username" type="text" name="username" ng-model="username" required autofocus
               ng-change="form.resetPassword.username.$setValidity('incorrect', true)" />
        <div ng-messages="form.resetPassword.username.$error">
          <div ng-message="required">{{consts.lbl.REQUIRED}}</div>
          <div ng-message="incorrect">{{consts.lbl.ERROR_USERNAME_NOT_EXIST}}</div>
        </div>
      </md-input-container>
      <div layout="row">
        <a href="login.html" style="margin: auto" flex>
          <md-icon>chevron_left</md-icon>
          {{consts.lbl.BACK}}
        </a>
        <md-button type="submit" class="md-raised" md-colors="{background: '{{checking ? 'blue-300' : 'blue'}}', color: 'grey-A100'}" layout="row" ng-click="next()" ng-disabled="checking">
          {{consts.btn.NEXT}}
          <md-icon md-colors="{color: 'grey-A100'}" ng-hide="checking">chevron_right</md-icon>
          <md-progress-circular md-diameter="20" ng-show="checking"></md-progress-circular>
        </md-button>
      </div>
      <div ng-bind-html="consts.lbl.DONT_HAVE_ACCOUNT"></div>
    </form>
  </md-content>
</body>
</html>
