<div ng-controller="changePassword" style="height: 100%;">
  <ng-include src="'/Templates/waiting.html'"></ng-include>
  <div layout="column" layout-align="center center" style="height: 100%;" flex>
    <form name="form.changePassword" layout="column" layout-padding>
      <h1 align="center">{{consts.lbl.CHANGE_PASSWORD}}</h1>
      <!-- Current Password -->
      <md-input-container>
        <label>{{consts.lbl.CURRENT_PASSWORD}}</label>
        <input type="password" name="currentPassword" id="currentPassword" ng-model="currentPassword" ng-change="form.changePassword.currentPassword.$setValidity('incorrect', true)" required autofocus/>
        <div ng-messages="form.changePassword.currentPassword.$error">
          <div ng-message="required">{{consts.lbl.REQUIRED}}</div>
          <div ng-message="incorrect">{{consts.lbl.ERROR_PASSWORD_INCORRECT}}</div>
        </div>
      </md-input-container>
      <!-- New Password -->
      <md-input-container>
        <label>{{consts.lbl.NEW_PASSWORD}}</label>
        <input type="password" name="newPassword" ng-model="newPassword" required/>
        <div ng-messages="form.changePassword.newPassword.$error">
          <div ng-message="required">{{consts.lbl.REQUIRED}}</div>
        </div>
      </md-input-container>
      <!-- Re-password -->
      <md-input-container>
        <label>{{consts.lbl.RE_PASSWORD}}</label>
        <input type="password" name="rePassword" ng-model="rePassword" required ng-pattern="newPassword"/>
        <div ng-messages="form.changePassword.rePassword.$error">
          <div ng-message="required">{{consts.lbl.REQUIRED}}</div>
          <div ng-message="pattern">{{consts.lbl.ERROR_PASSWORD_NOT_MATCH}}</div>
        </div>
      </md-input-container>
      <md-button type="submit" class="md-raised" md-colors="{background: 'blue'}" ng-click="changePassword()">{{consts.btn.CHANGE_PASSWORD}}</md-button>
    </form>
  </div></div>
