<!DOCTYPE html>
<html ng-app="app" ng-controller="main" ng-cloak>
<head>
  <title>{{consts.title.SHIPPING}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="import" href="/Templates/include-libs.html" />
  <script src="/Scripts/controllers/listOrders.js"></script>
  <script src="/Scripts/controllers/main.js"></script>
</head>
<body>
  <md-content layout="row" flex ng-if="isLogin">
    <md-sidenav class="md-sidenav-left"
                md-component-id="menu"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="4"
                md-colors="{background: 'blue'}">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="toggleSidenav()" hide-gt-md>
            <md-icon>menu</md-icon>
          </md-button>
          <h2 md-truncate flex>SHIPPING</h2>
        </div>
      </md-toolbar>
      <md-content md-colors="{background: 'blue'}" flex>
        <md-list ng-click="menu.isActive()">
          <div ng-repeat="menuItem in menu">
            <md-list-item ng-click="menuItem.action()">{{menuItem.title}}</md-list-item>
            <md-list ng-if="menuItem.children" style="width: 90%; margin-left: 10%">
              <div ng-repeat="subMenuItem in menuItem.children">
                <md-list-item ng-click="subMenuItem.action()"
                              md-colors="{background: '{{menu.isActive(subMenuItem.title) ? 'blue-300-0.7' : 'blue'}}', color: 'grey-A100'}">
                  {{subMenuItem.title}}
                </md-list-item>
              </div>
            </md-list>
          </div>
        </md-list>
      </md-content>
    </md-sidenav>

    <section layout="column" flex>
      <md-toolbar layout="row">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="toggleSidenav()" hide-gt-md>
            <md-icon>menu</md-icon>
          </md-button>
          <h2 md-truncate flex hide-gt-md>{{title}}</h2>
          <span flex></span>
          <h5><a href="#">{{consts.lbl.WELCOME + ' ' + userLogin.FullName}}</a></h5>
          <md-menu md-position-mode="target-right target" md-offset="0 42">
            <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
              <md-icon>more_vert</md-icon>
            </md-button>
            <md-menu-content>
              <md-menu-item ng-repeat="m in topRightMenu">
                <md-button ng-click="m.action()">{{m.title}}</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </md-toolbar>

      <md-content md-colors="{background: 'amber-50'}" ng-include="content" flex>
      </md-content>
    </section>
  </md-content>
</body>
</html>
