<!DOCTYPE html>
<html ng-app="app" ng-controller="main" ng-cloak>
<head>
  <title>{{consts.title.LOGIN}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- GoogleApis fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Angular Material style sheet -->
  <link href="/Vendors/angular-material-1.1.3/angular-material.min.css" rel="stylesheet" />
  <!-- Angular libaries -->
  <script src="/Vendors/angular-1.6.3/angular.min.js"></script>
  <script src="/Vendors/angular-1.6.3/angular-animate.min.js"></script>
  <script src="/Vendors/angular-1.6.3/angular-aria.min.js"></script>
  <script src="/Vendors/angular-1.6.3/angular-cookies.min.js"></script>
  <script src="/Vendors/angular-1.6.3/angular-messages.min.js"></script>
  <script src="/Vendors/angular-1.6.3/angular-sanitize.min.js"></script>
  <!-- Angular Material libary -->
  <script src="/Vendors/angular-material-1.1.3/angular-material.min.js"></script>
  <!-- JavaScript app -->
  <script src="/Scripts/app.js"></script>
  <script src="/Scripts/controllers/main.js"></script>
  <script src="/Scripts/constants.js"></script>

  <style>
    body > md-content {
      height: 100%;
    }

    md-input-container {
      margin-bottom: 0;
    }
  </style>
  <link href="/Styles/app.css" rel="stylesheet" />
</head>
<body>
  <md-content layout="row" flex ng-show="isLogin">
    <md-sidenav class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="4"
                md-colors="{background: 'blue'}">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="openSidenav()" hide-gt-md>
            <md-icon>menu</md-icon>
          </md-button>
          <h2 md-truncate flex>SHIPPING</h2>
        </div>
      </md-toolbar>
      <md-content md-colors="{background: 'blue'}" flex>
        <md-list>
          <md-list-item ng-click="null" style="font-size: 1.1em">{{$root.consts.btn.ORDER_MANAGEMENT}}</md-list-item>
          <md-list-item>
            <md-list style="width: 100%; margin-left: 25px">
              <md-list-item ng-click="null">{{$root.consts.btn.MY_ORDERS}}</md-list-item>
              <md-list-item ng-click="createOrder($event)">{{$root.consts.btn.CREATE_ORDER}}</md-list-item>
            </md-list>
          </md-list-item>
          <md-list-item ng-click="null">{{$root.consts.btn.ACCOUNT_MANAGEMENT}}</md-list-item>
          <md-list-item>
            <md-list style="width: 100%; margin-left: 25px">
              <md-list-item ng-click="null">{{$root.consts.btn.PROFILE}}</md-list-item>
              <md-list-item ng-click="null">{{$root.consts.btn.CHANGE_PASSWORD}}</md-list-item>
            </md-list>
          </md-list-item>
          <md-list-item ng-click="null">{{$root.consts.btn.LOGOUT}}</md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>

    <section layout="column" flex>
      <md-toolbar layout="row">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="openSidenav()" hide-gt-md>
            <md-icon>menu</md-icon>
          </md-button>
          <h2 md-truncate flex hide-gt-md>{{$root.consts.btn.ORDER_MANAGEMENT}}</h2>
          <span flex></span>
          <h5><a href="#">{{$root.consts.lbl.WELCOME + ' ' + username}}</a></h5>
          <md-menu md-position-mode="target-right target" md-offset="0 42">
            <md-button class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
              <md-icon>more_vert</md-icon>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button>Menu item 1</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button>Menu item 2</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="logout()">Thoats</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </md-toolbar>

      <md-content md-colors="{background: 'amber-50'}" flex>
        <ng-include src="'/Templates/waiting.html'"></ng-include>
        <md-grid-list id="content"
                      md-cols-xs="1" md-cols-sm="1" md-cols-md="2" md-cols-gt-md="3"
                      md-row-height="125px"
                      md-gutter="10px">
          <md-grid-tile ng-repeat="order in orders">
            <ng-include src="'/Templates/order-item.html'" flex></ng-include>
          </md-grid-tile>
        </md-grid-list>
      </md-content>
    </section>
  </md-content>
</body>
</html>
