<md-dialog style="min-width: 500px">
  <ng-include src="'/Templates/waiting.html'"></ng-include>
  <md-dialog-content layout="column" layout-padding>
    <span class="md-headline">{{order.OrderName}}</span>
    <span class="md-subhead" md-colors="{color: 'dialogTheme-grey-400'}">{{$root.consts.lbl.SHOP + ': ' + shopName}}</span>
    <div>
      <div>{{$root.consts.lbl.STARTING_POINT + ': ' + order.StartingPoint}}</div>
      <div>{{$root.consts.lbl.DESTINATION + ': ' + order.Destination}}</div>
    </div>
    <div layout="row">
      <div flex="50">
        <span md-colors="{color: 'dialogTheme-grey-700'}">{{$root.consts.lbl.START_TIME + ': '}}</span>
        <h2 style="margin: 5px 0" md-colors="{color: 'dialogTheme-blue'}">{{order.StartTime}}</h2>
      </div>
      <div flex="5"></div>
      <div flex="45" layout="column" layout-align="center end">
        <div>
          <span md-colors="{color: 'dialogTheme-grey-700'}">{{$root.consts.lbl.ADVANCE_DEPOSIT + ': '}}</span>
          <span style="font-weight: bold; font-size: 1.5em" md-colors="{color: 'dialogTheme-blue'}">{{order.AdvanceDeposit}}</span>
        </div>
        <div>
          <span md-colors="{color: 'dialogTheme-grey-700'}">{{$root.consts.lbl.PROFIT + ': '}}</span>
          <span style="font-weight: bold; font-size: 1.5em" md-colors="{color: 'dialogTheme-blue'}">{{order.Profit}}</span>
        </div>
      </div>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row" layout-align="end center">
    <md-button class="md-raised" ng-click="register()" ng-if="!isRegistered" md-colors="{background: 'dialogTheme-green'}">{{$root.consts.btn.ORDER_REGISTER}}</md-button>
    <md-button class="md-raised md-warn" ng-click="unRegister()" ng-if="isRegistered" ng-disabled="isSelected">{{$root.consts.btn.ORDER_UNREGISTER}}</md-button>
    <md-button class="md-raised" ng-click="closeDialog()" md-colors="{background: 'dialogTheme-blue-grey'}">{{$root.consts.btn.CLOSE}}</md-button>
  </md-dialog-actions>
</md-dialog>