<div ng-controller="profile">
  <ng-include src="'/Templates/waiting.html'"></ng-include>
  <div layout="column" layout-align="center center" flex>
    <form name="form.profile" layout="column" layout-padding style="width: 80%">
      <h3>{{consts.lbl.USERNAME + ': ' + user.Username}}</h3>
      <div layout-xs="column" layout-sm="row" layout-gt-sm="row">
        <div layout="column" flex-sm="45" flex-gt-sm="45">
          <h1>{{consts.lbl.PERSONAL_INFO}}</h1>
          <!-- Full name -->
          <md-input-container>
            <label>{{consts.lbl.FULL_NAME}}</label>
            <input type="text" name="fullName" ng-model="user.FullName" required autofocus/>
            <div ng-messages="form.profile.fullName.$error">
              <div ng-message="required">{{consts.lbl.REQUIRED}}</div>
            </div>
          </md-input-container>
          <!-- Email -->
          <md-input-container>
            <label>{{consts.lbl.EMAIL}}</label>
            <input type="email" name="email" ng-model="user.Email" required/>
            <div ng-messages="form.profile.email.$error">
              <div ng-message="required">{{consts.lbl.REQUIRED}}</div>
              <div ng-message="email">{{consts.lbl.INVALID_EMAIL}}</div>
            </div>
          </md-input-container>
          <!-- Phone number -->
          <md-input-container>
            <label>{{consts.lbl.PHONE_NUMBER}}</label>
            <input type="tel" name="phoneNumber" ng-model="user.PhoneNumber" required/>
            <div ng-messages="form.profile.phoneNumber.$error">
              <div ng-message="required">{{consts.lbl.REQUIRED}}</div>
            </div>
          </md-input-container>
          <div layout="row">
            <md-input-container>
              <label>{{$root.consts.lbl.BIRTH_DAY}}</label>
              <md-datepicker name="birthDay" ng-model="user.BirthDay"
                             md-open-on-focus aria-label="{{$root.consts.lbl.BIRTH_DAY}}">
              </md-datepicker>
              <div ng-messages="form.profile.birthDay.$error">
                <div ng-message="required">{{$root.consts.lbl.REQUIRED}}</div>
              </div>
            </md-input-container>
            <md-input-container>
              <label>{{$root.consts.lbl.GENDER}}</label>
              <md-select ng-model="user.Gender">
                <md-option ng-repeat="g in gender" value="{{g.key}}">
                  {{g.value}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>

        <div flex></div>

        <div layout="column" flex-sm="45" flex-gt-sm="45">
          <h1>{{consts.lbl.SHOP_INFO}}</h1>
          <!-- Shop name -->
          <md-input-container>
            <label>{{consts.lbl.SHOP_NAME}}</label>
            <input type="text" name="shopName" ng-model="user.ShopName"/>
            <div ng-messages="form.signUp.shopName.$error">
            </div>
          </md-input-container>
          <!-- Shop address -->
          <md-input-container>
            <label>{{consts.lbl.SHOP_ADDRESS}}</label>
            <textarea ng-model="user.ShopAddress" rows="5"></textarea>
          </md-input-container>
        </div>
      </div>

      <md-button type="submit" class="md-primary md-raised" md-colors="{background: 'green'}" ng-submit="signUp()">{{consts.btn.UPDATE}}</md-button>
    </form>
  </div>
</div>
