<div ng-controller="profile">
  <ng-include src="'/Templates/waiting.html'"></ng-include>
  <div layout="column" layout-align="center center" flex>
    <form name="form.profile" layout="column" layout-padding style="width: 80%">
      <div layout-xs="column" layout-sm="row" layout-gt-sm="row">
        <h3 flex-sm="45" flex-gt-sm="45">{{consts.lbl.USERNAME + ': ' + user.Username}}</h3>
        <span flex></span>
        <h3 flex-sm="45" flex-gt-sm="45">{{consts.lbl.USER_TYPE + ': ' + userType}}</h3>
      </div>
      <div layout-xs="column" layout-sm="row" layout-gt-sm="row">
        <div layout="column" flex-sm="45" flex-gt-sm="45">
          <h1>{{consts.lbl.PERSONAL_INFO}}</h1>
          <!-- Full name -->
          <md-input-container>
            <label>{{consts.lbl.FULL_NAME}}</label>
            <input type="text" name="fullName" ng-model="user.FullName" required autofocus/>
            <div ng-messages="form.profile.fullName.$error">
              <div ng-message="required">{{consts.lbl.REQUIRED}}</div>
            </div>
          </md-input-container>
          <!-- Email -->
          <md-input-container>
            <label>{{consts.lbl.EMAIL}}</label>
            <input type="email" name="email" ng-model="user.Email" required/>
            <div ng-messages="form.profile.email.$error">
              <div ng-message="required">{{consts.lbl.REQUIRED}}</div>
              <div ng-message="email">{{consts.lbl.INVALID_EMAIL}}</div>
            </div>
          </md-input-container>
          <!-- Phone number -->
          <md-input-container>
            <label>{{consts.lbl.PHONE_NUMBER}}</label>
            <input type="tel" name="phoneNumber" ng-model="user.PhoneNumber" required/>
            <div ng-messages="form.profile.phoneNumber.$error">
              <div ng-message="required">{{consts.lbl.REQUIRED}}</div>
            </div>
          </md-input-container>
          <div layout-xs="column" layout-sm="column" layout-gt-sm="row">
            <md-input-container>
              <label>{{consts.lbl.BIRTH_DAY}}</label>
              <md-datepicker name="birthDay" ng-model="user.BirthDay"
                             md-open-on-focus aria-label="{{consts.lbl.BIRTH_DAY}}" style="width: 100%">
              </md-datepicker>
              <div ng-messages="form.profile.birthDay.$error">
                <div ng-message="required">{{consts.lbl.REQUIRED}}</div>
              </div>
            </md-input-container>
            <md-input-container>
              <label>{{consts.lbl.GENDER}}</label>
              <md-select ng-model="user.Gender">
                <md-option ng-repeat="g in gender" value="{{g.key}}">
                  {{g.value}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <md-button type="submit" class="md-primary md-raised" style="margin-top: 30px" md-colors="{background: 'green'}" ng-click="save()" ng-if="!isShopManager">
            {{consts.btn.UPDATE}}
          </md-button>
        </div>

        <div flex></div>

        <div flex-sm="45" flex-gt-sm="45">
          <div ng-if="isShopManager" layout="column">
            <h1>{{consts.lbl.SHOP_INFO}}</h1>
            <!-- Shop name -->
            <md-input-container>
              <label>{{consts.lbl.SHOP_NAME}}</label>
              <input type="text" name="shopName" ng-model="user.ShopName"/>
              <div ng-messages="form.signUp.shopName.$error">
              </div>
            </md-input-container>
            <!-- Shop address -->
            <md-input-container>
              <label>{{consts.lbl.SHOP_ADDRESS}}</label>
              <textarea ng-model="user.ShopAddress" rows="5"></textarea>
            </md-input-container>
          </div>
          <div ng-if="!isShopManager" layout="column">
            <h1>{{consts.lbl.LIST_REVIEWS}}</h1>
            <div style="padding-bottom: 20px">
              <div class="score" md-colors="{color: 'dialogTheme-blue'}">{{user.Score || 0}}</div>
              <div class="md-title" md-colors="{color: 'grey-600'}" style="text-align: center">{{reviews}}</div>
            </div>
            <ng-include src="'/Templates/review-item.html'"></ng-include>
          </div>
        </div>
      </div>

      <md-button type="submit" class="md-primary md-raised" md-colors="{background: 'green'}" ng-click="save()" ng-if="isShopManager">
        {{consts.btn.UPDATE}}
      </md-button>
    </form>
  </div>
</div>
