<md-dialog style="min-width: 500px">
  <ng-include src="'/Templates/waiting.html'"></ng-include>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{title}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content layout="column" layout-padding>
    <h3 ng-if="!shippers.length" md-colors="{color: 'dialogTheme-orange-900'}" align="center">{{$root.consts.lbl.NOT_REGISTERED}}</h3>
    <md-radio-group ng-model="selectedShipperId" ng-change="select()">
      <div ng-repeat="shipper in shippers" layout="row">
        <md-radio-button value="{{shipper.UserId}}" layout="row" layout-align="center center" style="margin: 8px 0">{{shipper.FullName}}</md-radio-button>
        <span flex></span>
        <md-button class="md-raised" md-colors="{background: 'dialogTheme-blue'}" ng-click="viewShipperInfo(shipper)">{{$root.consts.btn.SHIPPER_INFO}}</md-button>
      </div>
    </md-radio-group>
  </md-dialog-content>
</md-dialog>
